html,
body {
  padding: 0 auto;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 20px;
}
header {
  background: url('/lab-css-recipes-clone/apple-pie/images/apple-pie.jpg')
    no-repeat center;
  height: 630px;
  background-size: cover;
  margin-bottom: 40px;
}
h1 {
  text-align: center;
  color: white;
  font-size: 4em;
  vertical-align: middle;
  position: absolute;
  top: 20%;
  left: 40%;
  font-weight: normal;
  letter-spacing: 4px;
}
.article-wrapper {
  width: 920px;
  padding: 10px;
  margin: 0 auto;
  color: gray;
}

p {
  color: gray;
  line-height: 1.5em;
  width: 100%;
}

.recipe-cooking-info-img {
  height: 64px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.cooking-info-img {
  height: 86px;
}
h4 {
  font-weight: normal;
  padding-bottom: 12px;
}
ul {
  list-style-type: '- ';
  padding-left: 20px;
}

ol {
  list-style-type: none;
  padding-left: 20px;
}
ol li:before {
  content: counter(section, decimal) ') ';
}
ol li {
  counter-increment: section;
}

footer {
  padding: 30px;
}
